<div class="card_of_product__wrapper">
    <div class="card_of_product">
        <div class="galery__wrapper">
            <div class="primary_image__wrapper">
                <img src="/media/{{product.image}}" alt="Sorry, no image" class="primary__image">
            </div>

            <div class="galery-list">
                {% for photo in galery %}
                <div class="galery">
                    <img src="/media/{{photo.image}}" alt="Sorry, no image" class="galery-image">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="product-info">
            <p>
            <h1>{{product.label}}</h1>
            </p>

            <p>manufacturer:
            <h3>{{product.manufacturer}}</h3>
            </p>
            <p>model:
            <h3>{{product.model}}</h3>
            </p>
            <p>rating: {{product.rating}}</p>
            <p>year: {{product.year}}</p>

            <p>article: {{product.article}}</p>

            <p>{{product.description}}</p>

            <p>size:
            <h3>{{product.frame_size}}</h3>
            </p>
            <p>wheel:
            <h3>{{product.wheel}}</h3>
            </p>

            {% for color in colors %}
            <div class="color" style="background-color: rgb{{color.rgb}};">

            </div>
            {% endfor %}
            <p>{{product.color.rgb}}</p>

            <p>price:
            <h3>{{product.price}}</h3>
            </p>

            <div class="product-buttom">
                <a href="{%url 'carts:add_to_cart' product.article %}">
                    <h2>Add to cart</h2>
                </a>
            </div>
        </div>

    </div>

    <h2>characteristics</h2>

    {% for characteristic in characteristics %}
    <div class="characteristics">
        <p>
        <h4>{{characteristic.name}}:</h4>
        </p>
        <p>{{characteristic.description}}</p>
    </div>
    {% endfor %}

</div>