<div class="product__wrapper">
  <div class="products">
    {% for product in products %}
    <div class="product">
      <div class="product-img" style="background-image: url(/media/{{product.image}})">
        <p>
          <a href="/products/{{product.slug}}/">{{product.label }}</a>
        </p>
        
        {% if product.rating != 0 %}
        <p>
          {{product.rating}}
        </p>
        {% else %}
        <p class="blind-element">
          {{product.rating}}
        </p>
        {% endif %}

        
        <div>
          {{product.price}}
        </div>
        
        <div>
          {{product.color}}
        </div>

        <div class="product-menu">
          <div class="product-buttom">
            <a href="#">Buy</a>
          </div>
  
          <div class="product-buttom">
            <a href="#">About</a>
          </div>
  
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>