<div class="product__wrapper">
  <div class="products">
    {% for product in products %}
    <div class="product">
      <div class="product-img" style="background-image: url(/media/{{product.image}})">
        <p class="product_label">
          <a href="/products/{{product.slug}}/">{{product.label }}</a>
        </p>
        
        {% if product.rating != 0 %}
        <p>
          {{product.rating}}
        </p>
        {% else %}
        <p class="blind-element">
          {{product.rating}}
        </p>
        {% endif %}

        
        <div class="price">
          {{product.price}}$
        </div>
        
        <div class="product-menu">
          <div class="product-buttom buy">
            <a href="{%url 'carts:add_to_cart' product.article %}">Add to cart</a>
          </div>
  
          <div class="product-buttom about">
            <a href="/products/{{product.slug}}/">About</a>
          </div>
  
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>