@import 'static/scss/variables';
@import 'static/scss/mixims';

.main{
    @include flex-center;
}

.main-chapters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $width_xxl;
    padding-top: $padding_s;
}

.chapter {

    margin: $margin_s;
  }  
  
