@import './static/scss/variables';
@import './static/scss/mixims';


.main__wrapper {
    @include flex-center;
    padding-top: $padding_m * 2;

    a {
        color: darkmagenta;
        text-shadow: whitesmoke 0 0 5px;
    }
    
    a:hover{
        font-size: 1.5rem;
        color: $text-color_additional_hover;
        transition-duration: 150ms;
    }

    .chapters__wrapper {
        padding-top: $padding_m * 2;

        .chapters {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .chapter {
            width: 50rem;
            height: 20rem;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            margin: .2rem;
            text-align: center;
            color: white;
            padding-top: 3rem;


            div {
                width: 100%;
                background: linear-gradient(transparent 10%, black 45% 60%, transparent 90%);

                a {
                    font-size: 5rem;
                }

                a:hover {
                    font-size: 6rem;
                }
            }
        }

        .chapter:hover{
            margin: 0;
            border: 5px solid darkmagenta;
            transition-duration: 150ms;
            box-shadow: black 2px 2px 10px;
        }
    }

    .chapter__wrapper {
        @include flex-center;

        .chapter {
            p {
                font-size: $font-size_l;
            }
        }
    }

    .categories__wrapper {
        @include flex-center;
        padding-top: $padding_m * 2;

        .categories {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(auto, 1fr);

            .category {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 300px;
                height: 200px;
                border: 1px solid black;
                border-radius: 3%;
                margin: $margin_xs;
                padding: $padding_s;
                text-align: center;
            }
        }
    }
}