{% for product in products %}

<div>
    <p>name:{{product.product.label}}</p>

    <p>price: {{product.product.price}}</p>

    <div>
        <form action="{% url 'carts:edit_quantity' product.item.id%}" method='post'>
            {% csrf_token %}
            <div class="forms-input">
                <label class="form-imput-label" for="{{product.form.quantity.id_for_label}}">quantity -
                    {{product.item.quantity}}</label>
                {{product.form.quantity}}
                <input class="form-button" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <p>sum: {{product.products_cost}}</p>

    <div>
        <div class="remove-cart-item">
            <a href="{% url 'carts:remove_from_cart' product.item.id%}">Remove item</a>
        </div>
    </div>
</div>

{% endfor %}
<h1>total cost: {{total_cost}}</h1>