{% for product in products %}

<div>
    <p>name:{{product.product.label}}</p>

    <p>price: {{product.product.price}}</p>

    <div>
        <input class="form-input" type="number" value="{{product.item.quantity}}">
        <a href="edit/{{product.item.id}}">edit</a>
    </div>

    <p>sum: {{product.products_cost}}</p>

    <div>
        <div class="remove-cart-item">
            <a href="{% url 'carts:remove_from_cart' product.item.id%}">Remove item</a>
        </div>
    </div>
</div>

{% endfor %}
<h1>total cost: {{total_cost}}</h1>