<!--? int`s for big size of monitor  -->
<div class="subheader_wrapper">
    <div class="subheader">
        <nav class="subheader__nav">
            <li class="subheader-nav-element">
                <a href="#">About us</a>
            </li>

            <li class="subheader-nav-element">
                <a href="#">Contacts</a>
            </li>

            <li class="subheader-nav-element">
                <a href="#">Political of confidance</a>
            </li>

            <li class="subheader-nav-element">
                <a href="#">Shipping and payment</a>
            </li>

            <li class="subheader-nav-element">
                <a href="#">Warranties and returns</a>
            </li>
        </nav>

        <div class="user__menu">
            <div class="menu-element__wrapper">
                <div class="menu-element">
                    <div class="element-icon">
                        <img src="#" alt="No image, sorry">
                    </div>

                    <a href="#">Favorites</a>
                </div>
            </div>

            <div class="menu-element__wrapper">
                <div class="menu-element">
                    <div class="element-icon">
                        <img src="#" alt="No image, sorry">
                    </div>

                    <a href="#">Comparisons</a>
                </div>
            </div>

            <div class="menu-lenguage__wrapper">
                <div class="menu__lenguage">
                    <div class="lenguage lenguage__en">en</div>
                    <div class="lenguage lenguage__ru">ru</div>
                </div>
            </div>

            <div class="menu-user-info">
                <div class="user__img">
                    <img src="#" 
                    alt="No image, sorry" 
                    class="avatar">
                </div>

                <div class="user__img">
                    <img src="#" 
                    alt="No image, sorry" 
                    class="avatar__anonim">
                </div>

                <div class="user_name">
                    <div class="user__anonim">Log in</div>
                    <div class="user__autorized">Hi, Username!</div>
                </div>

                <div class="menu__nav">
                    <nav class="nav_for_anonimus">
                        <a href="#">Log In</a>
                        <a href="#">Registration</a>
                    </nav>

                    <nav class="nav_for_autorized">
                        <a href="#">Personal Area</a>
                        <a href="#">Favorites</a>
                        <a href="#">Desires</a>
                        <a href="#">Log Out</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header_wrapper">
    <div class="header">
        <div class="header-element">
            <div class="header__logo">
                <div class="logotype"></div>
            </div>
        </div>

        <div class="header-element">
            <div class="search">
                <input type="text">
            </div>
        </div>

        <div class="header-element">
            <div class="cart">
                <a href="#">
                    <div class="cart__img"></div>
                    <div class="cart__title">Cart</div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--? int`s for mobile -->
<div class="mobile_header_wrapper">

</div>

<div class="mobile_nav_wrapper">
    
</div>
