<!--? int`s for big size of monitor  -->
<div class="subheader_wrapper flex-center">
    <div class="subheader flex-between">
        <nav class="subheader__nav">
            <ul class="subheader__ul flex-between">
                {% for site_navigation in site_navigations %}
                <li class="subheader-nav-element">
                    <a href="about/{{site_navigation.slug}}" class="subheader-link">
                        {{site_navigation.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="subheader-social__wrapper flex-between">
            {% for social_network in social_networks %}
            <div class="subheader-social">
                <a href="https://{{social_network.link}}" class="subheader-link">
                    <img src="media/{{social_network.image}}" alt="No image, sorry" class="social-img">
                </a>
            </div>
            {% endfor %}
        </div>


        <div class="user__menu flex-between">
            {% for favorite_and_other in favorites_and_other %}
            <div class="menu-element__wrapper ">
                <div class="menu-element flex-between">
                    <div class="element">
                        <img src="media/{{favorite_and_other.icon}}" 
                            alt="No image, sorry" 
                            class="element-icon">
                    </div>

                    <a href="user/{{favorite_and_other.slug}}" 
                        class="subheader-link">
                        {{favorite_and_other.name}}({{favorite_and_other.value}})
                    </a>
                </div>
            </div>
            {% endfor %}
            
            <div class="menu-lenguage__wrapper">
                Language
                <div class="menu__lenguage flex-between">
                    {% for language in languages%}
                    <div class="languages">
                        <a href="{{language.slug}}" class="subheader-link">
                            {{language.short_name}}
                            <img src="media/{{language.icon}}" alt="No image, sorry" class="element-icon">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="menu-user-info flex-center">
                <div class="user-info flex-center">
                    <img src="static/images/icons/icon_log_in.png" alt="No image, sorry" class="element-icon">

                    <div class="log_in">Log in</div>
                </div>

                <div class="menu-nav">
                    <nav hidden class="nav_for_anonimus">
                        <a href="#" class="subheader-link">
                            Log In
                        </a>

                        <a href="#" class="subheader-link">
                            Registration
                        </a>
                    </nav>
                </div>

                {% if not user %}
                <div class="user-info flex-center">
                    <div class="user__img">
                        <img src="#" alt="No image, sorry" class="avatar">
                    </div>

                    <div class="user__name">Hi, Username!</div>
                </div>

                <div class="menu-nav">
                    <nav hidden class="nav_for_autorized">
                        <a href="#">Personal Area</a>
                        <a href="#">Log Out</a>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="header__wrapper flex-center">
    <div class="header">
        <div class="header__container flex-between">
            <div class="header__logo">
                <img src="static/images/logotype.png" alt="No image, sorry" class="logotype">
            </div>

            <div class="header-element">
                <div class="header__search">
                    <input type="text" value="Search" />
                </div>
            </div>

            <div class="header-element">
                <div class="cart flex-between">
                    <div class="cart__img">
                        <img src="static/images/icons/icon_cart.png" alt="No image, sorry" class="icon_cart">
                    </div>

                    <a href="#" class="header-link">
                        Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--? int`s for mobile -->
<div class="mobile_header_wrapper">

</div>

<div class="mobile_nav_wrapper">

</div>