* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

div[hidden] {
    display: none;
}

#app {
    font-family: var(--font-famyly_primary);
}

.subheader-nav-element, 
.menu-element__wrapper,
.menu-lenguage__wrapper,
.lenguage,
.element-icon {
    padding-right: var(--padding_xs);
}

.subheader_wrapper{
    background-color: var(--background_additional);
    color: var(--text-color_additional);
}

.subheader,
.header {
    width: var(--width_xxl);
    padding: var(--padding_s);
}

.element-icon {
    height: var(--heigth_xs);
}

.user-info:hover,
.subheader-link:hover,
.menu-lenguage__wrapper:hover
 {
    color: var(--text-color_additional_hover)
}

.social-img{
    height: var(--heigth_m);
    margin: 0 var(--margin_s) 0 var(--margin_s);
    padding: calc(var(--padding_xxs) * 2);
    border: .2rem solid var(--text-color_additional);
    border-radius: 50%;
}

.social-img:hover {
    border: .2rem solid var(--text-color_additional_hover);
}

.logotype {
    height: var(--heigth_l);
}

.icon_cart {
    height: var(--heigth_m);
    padding-right: var(--padding_m);
}

.header-link {
    font-size: var(--font-size_l);
}