{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'extra-classes.css' %}">

    <link rel="stylesheet" href="{% static 'variables.css' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block style %}{% endblock style %}

</head>

<body>
    <div id="app">
        {% block header %}
        {% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %}{% endblock footer %}
    </div>
</body>
{% livereload_script %}

</html>