{% load static %}
{% load livereload_tags %}
{% load sass_tags %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    {% compress css %}
        <link href="{% sass_src 'scss/_mixims.scss' %}" rel="stylesheet" type="text/css" />   
        <link href="{% sass_src 'scss/_base.scss' %}" rel="stylesheet" type="text/css" />    
        <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}

    {% block style %}{% endblock style %}

</head>

<body>
    <div id="app">
        {% block header %}{% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %}{% endblock footer %}
    </div>
</body>
{% livereload_script %}
</html>