@mixin flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid-products{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(3, 1fr);
}