@mixin flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid-2{
    display: grid;
    gap: 20px;
    grid-template-rows: 200px auto 100px;
}