@font-face {
    font-family: "inter";
    src: url("/static/fonts/inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "rockout";
    src: url("/static/fonts/rockout/Rockout.otf");
}

@font-face {
    font-family: "assistant";
    src: url("/static/fonts/assistant/Assistant-Regular.ttf");
}


/** COLORS */
$background_primary: rgb ();
$background_secondary: rgb ();
$background-additional: black;

$text-color_primary: rgb ();
$text-color_secondary: rgb ();
$text-color_additional: whitesmoke;
$text-color_additional_hover: orange;


/** FONTS */
$font-famyly-primary: "assistant";
$font-famyly_secondary: "inter";
$font-famyly_additional: "rockout";

$font-size_xs: pass;
$font-size_s: pass;
$font-size_m: pass;
$font-size_l: 2rem;
$font-size_xl: pass;

$line-height-primary: 23.54px;
$line-height-seconadaty: 18.31px;

/** PADDING/MARGIN */
$padding_xxs: .1rem;
$padding_xs: .3rem;
$padding_s: .5rem;
$padding_m: 1rem;
$padding_l: 30px;
$padding_xl: 20px;
$padding_xxl: 10px;

$margin_xxs: 160px;
$margin_xs: 60px;
$margin_s: .5rem;
$margin_m: 1rem;
$margin_l: 30px;
$margin_xl: 20px;
$margin_xxl: 10px;


/** WIDTH/HEIGTH */
$width_xxs: 160px;
$width_xs: 60px;
$width_s: 50px;
$width_m: 40px;
$width_l: 30px;
$width_xl: 20px;
$width_xxl: 80rem;

$heigth_xxs: 160px;
$heigth_xs: .6rem;
$heigth_s: 1rem;
$heigth_m: 2rem;
$heigth_l: 5rem;
$heigth_xl: 20px;
$heigth_xxl: 10px;