
@import 'variables';
@import 'mixims';
@import 'base';


#app {
    font-family: $font-famyly_primary;
}

.subheader,
.header,
.subheader__ul,
.subheader-social__wrapper,
.user__menu,
.menu-element,
.menu__lenguage,
.header__container,
.cart{
    @include flex-between;
}

.subheader_wrapper,
.menu-user-info,
.user-info,
.header__wrapper{
    @include flex-center;
}


.subheader-nav-element,
.menu-element__wrapper,
.menu-lenguage__wrapper,
.lenguage,
.element-icon {
    padding-right: $padding_xs;
}

.user-info:hover,
.subheader-link:hover {
    color: $text-color_additional_hover;
}

.subheader,
.header {
    width: $width_xxl;
    padding: $padding_s;
}

.subheader_wrapper {
    background-color: $background_additional;
    color: $text-color_additional;
}

.element-icon {
    height: $heigth_xs;
}

.social-img {
    height: $heigth_m;
    margin: 0 $margin_s 0 $margin_s;
    padding: calc($padding_xxs * 2);
    border: .2rem solid $text-color_additional;
    border-radius: 50%;
}

.social-img:hover {
    border: .2rem solid $text-color_additional_hover;
}


.logotype {
    height: $heigth_l;
}

.icon_cart {
    height: $heigth_m;
    padding-right: $padding_m;
}

.header__container {
    width: 100%;
}

.header__logo {
    width: 50%;
}

.header-link {
    font-size: $font-size_l;
}
