@import 'variables';
@import 'mixims';
@import 'extendes';
@import 'base';


.subheader,
.navigation,
.social,
.favorites,
.user-menu__wrapper,
.login,
.favorites__wrapper,
.header,
.store-info {
    @include flex-between;
}


.subheader__wrapper,
.header__wrapper {
    @include flex-center;
}


.subheader,
.header {
    width: 80%;
}


.subheader__wrapper {
    background: $background-additional;
    color: $text-color_additional;
    padding: $padding_s 0 $padding_s 0;

    img {
        height: $heigth_xs;
    }

    .subheader {
        p {
            margin: 0 $margin_xs 0 $margin_xs;
        }

        p:hover {
            color: $text-color_additional_hover;

            .social-img {
                border-color: $text-color_additional_hover;
            }
        }

        .social-img {
            height: $heigth_m;
            border: $font-size_xs solid $text-color_additional;
            border-radius: 50%;
            padding: $padding_xs;
        }

        .lenguage-image {
            height: $heigth_s;
        }

        .login-image {
            margin: 0 $margin_xs 0 0;
        }

        .menu {
            display: none;
        }
    }
}


.header__wrapper {
    padding-top: $padding_m;

    .logotype {
        width: $width_m + $width_s;
    }

    .search__wrapper {
        border-bottom: 2px solid $text-color_primary;
        border-radius: 5%;

        .search {
            input {
                color: $text-color_additional_hover;
                padding: 1rem;
                background: none;
                border: none;
            }
        }
    }

    .cart__wrapper {
        .cart__image {
            height: 1rem;
        }
    }
}


.lenguage__wrapper:hover,
.menu__wrapper:hover {
    .menu {
        @include flex-between;
        position: absolute;
        padding-top: $padding_m;
        color: $text-color_primary;

        div {
            background: $background-additional-open;
        }
    }
}