<div class="chapter__wrapper">
  <div class="chapter" style="background: url(/media/{{chapter.image}})">
    <p>
      {{chapter.name}}
    </p>
  </div>
</div>

<div class="categories__wrapper">
  <div class="categories">
    {% for category in categories %}
      <p class="category" style="
      background: url(/media/{{category.image}});
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;">
        <a href="{% url 'category' category.slug%}">{{category.name }}</a>
      </p>
    {% endfor %}
  </div>
</div>