<div class="chapter-title__wrapper">
    <div class="chapter"
        style="background: url(media/{{ chapter.image }})">
        <div class="chapter-title">
            {{chapter.name}}
        </div>
    </div>
</div>

<div class="main-categories">
  {% for category in categories %}
    <div class="main-category">
      <div class="category" style="background: url(media/{{ category.image }})">
        <a href="{{chapter.slug}}/{{category.slug}}" class="category-title">{{category.name }}</a>
      </div>
    </div>
  {% endfor %}
</div>
