<div class="chapter__wrapper">
    <div class="chapter" style="background: url(/media/{{sub_category.image}})">
      <p>
        {{sub_category.name}}
      </p>
    </div>
  </div>
  
  
  <div class="categories__wrapper">
    <div class="categories">
      {% for subcategory in subcategories %}
        <p class="category" style="
        background: url(/media/{{category.image}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;">
          <a href="/category/{{category.slug}}/{{subcategory.slug}}/">{{subcategory.name }}</a>
          <p>{{subcategory.name }}</p>
        </p>
      {% endfor %}
    </div>
  </div>